/* NAV */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-list {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  transition: max-height 0.3s ease-out;
}
.nav-list.open {
  max-height: 500px;
}

.nav-link {
  padding: 0 15px;
  color: black;
}

.nav-link:hover {
  color: #d1a33d;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #d1a33d;
}

.navbar-burger {
  display: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
  }
  .logo {
    max-height: 70px;
  }

  .nav-list.open {
    max-height: 500px;
  }

  .navbar-burger {
    display: flex;
  }
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: black;
  }
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }
}
